<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
  </article>

  <% @reviews = @reviews.sort_by {|obj| obj.created_at }.reverse %>
  <% @reviews.each do |details| %>
    <% @user_review = User.find(details.user_id) %>
    <article>
      <div class="row">
        <div class="col-sm-4 stars">
          <h3>
            <% (1..details.rating).each do %>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <% end %>
            <% (0..4 - details.rating).each do %>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <% end %>
          </h3>
        </div>
        <div class="col-sm-7">
          <dl class="dl-horizontal">
          <dt>User</dt>
          <dd><%= @user_review.name %>
          <dt>Review</dt>
          <dd><%= details.description %></dd>
          </dl>
        </div>
      </div>
      <% end %>
    </article>
</section>
